<div id="carousel-pasos" class="carousel slide z-depth-1-half content-carrusel-pasos" data-ride="carousel">
  <div class="btn-close-modal-pasos">
    <button type="button" class="close mr-1" data-dismiss="modal" aria-label="Close" mat-dialog-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><div class="view centrar-contenido">
      <div class="logo-navegador align-self-center centrar-contenido my-auto align-middle">
        <div class="imagen-navegador">
          <img class="d-block" class="iconoNavegadores mt-1" [src]=icoNavegadorSafari alt="Safari">
        </div>
      </div>
      <div class="informacion-navegador centrar-contenido text-center">
        <label class="navegador">Safari:</label>
        <br>
        <span class="version-navegador">Versi&oacute;n 13</span>
      </div>
      <div class="footer-navegador centrar-contenido text-center">
        <h1 class="Acerca-de-nuestra-web text-style-1">Acerca de <span class="Acerca-de-nuestra-web">nuestra web</span></h1>
          <span class="resumen-navegador">
            Recuerda que para una mejor experiencia al<br/>
            usar nuestra plataforma debes tener en cuenta la<br/>
            versión de tu navegador.
          </span>
      </div>

      <div class="mask rgba-black-light"></div>
    </div></ng-template>  
    <ng-template carouselSlide>
      <div class="logo-navegador align-self-center centrar-contenido my-auto align-middle">
        <div class="imagen-navegador">
          <img class="d-block" class="iconoNavegadores" [src]=icoNavegadorChrome alt="Chrome">
        </div>
      </div>
      <div class="informacion-navegador centrar-contenido text-center">
        <label class="navegador">Google Chrome:</label>
        <br>
        <span class="version-navegador">Versi&oacute;n  85.0</span>
      </div>
      <div class="footer-navegador centrar-contenido text-center">
        <h1 class="Acerca-de-nuestra-web text-style-1">Acerca de <span class="Acerca-de-nuestra-web">nuestra web</span></h1>
          <span class="resumen-navegador">
            Recuerda que para una mejor experiencia al<br/>
            usar nuestra plataforma debes tener en cuenta la<br/>
            versión de tu navegador.
          </span>
      </div>
      <div class="mask rgba-black-light"></div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="logo-navegador align-self-center centrar-contenido my-auto align-middle">
        <div class="imagen-navegador">
          <img class="d-block" class="iconoNavegadores" [src]=icoNavegadorFirefox alt="Firefox">
        </div>
      </div>
    <div class="informacion-navegador centrar-contenido text-center">
      <label class="navegador">Mozilla Firefox:</label>
      <br>
      <span class="version-navegador">Versi&oacute;n 79.0</span>
    </div>
    <div class="footer-navegador centrar-contenido text-center">
      <h1 class="Acerca-de-nuestra-web text-style-1">Acerca de <span class="Acerca-de-nuestra-web">nuestra web</span></h1>
        <span class="resumen-navegador">
          Recuerda que para una mejor experiencia al<br/>
          usar nuestra plataforma debes tener en cuenta la<br/>
          versión de tu navegador.
        </span>
    </div>

    <div class="mask rgba-black-light"></div>
  </ng-template> 
  <ng-template carouselSlide>
    <div class="logo-navegador align-self-center centrar-contenido my-auto align-middle">
      <div class="imagen-navegador">
        <img class="d-block" class="iconoNavegadores" [src]=icoNavegadorEdge alt="Edge">
      </div>
    </div>
    <div class="informacion-navegador centrar-contenido text-center">
      <label class="navegador">Microsoft Edge:</label>
      <br>
      <span class="version-navegador">44.19041.423.0</span>
    </div>
    <div class="footer-navegador centrar-contenido text-center">
      <h1 class="Acerca-de-nuestra-web text-style-1">Acerca de <span class="Acerca-de-nuestra-web">nuestra web</span></h1>
        <span class="resumen-navegador">
          Recuerda que para una mejor experiencia al<br/>
          usar nuestra plataforma debes tener en cuenta la<br/>
          versión de tu navegador.
        </span>
    </div>
    <div class="mask rgba-black-light"></div>
  </ng-template> 
  <ng-template carouselSlide>
    <div class="logo-navegador align-self-center centrar-contenido my-auto align-middle">
      <div class="imagen-navegador">
        <img class="d-block" class="iconoNavegadores" [src]=icoNavegadorOpera alt="Opera">
      </div>
    </div>
    <div class="informacion-navegador centrar-contenido text-center">
      <label class="navegador">Opera:</label>
      <br>
      <span class="version-navegador">2019-04-09</span>
    </div>
    <div class="footer-navegador centrar-contenido text-center">
      <h1 class="Acerca-de-nuestra-web text-style-1">Acerca de <span class="Acerca-de-nuestra-web">nuestra web</span></h1>
        <span class="resumen-navegador">
          Recuerda que para una mejor experiencia al<br/>
          usar nuestra plataforma debes tener en cuenta la<br/>
          versión de tu navegador.
        </span>
    </div>

    <div class="mask rgba-black-light"></div>
  </ng-template> 
  </owl-carousel-o>
-->
</div>

