p {
  margin: 0;
}

.recuperarPassword {
  height: 100vh;
  display: flex;
}

.containerImg {
  width: 60%;
}

.img-fluid {
  height: 100% !important;
}

.formulario {
  background-color: #ffffff;
  border-radius: 5px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formularioContent {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.titleContent {
  text-align: center;
  margin-bottom: 2rem;
  color: #2C421F;
}

.subtitle {
  text-align: center;
  color: #592272;
  font-weight: 900;
  margin-bottom: .8rem;
}

.text {
  margin: 2rem 0;
}

.inputEmail {
  width: 100%;
  border-radius: 8px;
  border: none;
  border: solid 1px #ccc;
  height: 44px !important;
  outline: none;
}

.inputEmail::placeholder {
  padding: 0 0 0 .3rem;
}

input:focus {
  border: solid 1px #61B22F !important;
  box-shadow: none !important;
  background-color: #ffffff !important;
}

.form-label {
  margin-bottom: 5px;
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.form-label:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.label-error {
  color: #D90B0B !important;
}

.is-invalid {
  color: #D90B0B;
}

.is-invalidInput::placeholder {
  color: #D90B0B;
}

.is-invalidInput {
  border-color: #fff !important;
}

.contentBtn {
  text-align: center;
  margin: 3rem 0;
}

.botonIngresar {
  width: 100%;
  border: none;
  border-radius: 25px;
  height: 44px;
  background-color: #592272;
  color: #fff;
}

.botonIngresar:hover {
  background-color: #592272;
}

.volver {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #592272 !important;
}



.version {
  text-align: center;
  color: #592272;
  margin-top: 1rem;
}

@media (max-width: 910px) {
  .recuperarPassword {
    background-image: url(/assets/images/fondo.png);
    background-attachment: fixed;
    height: auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .containerImg {
    display: none;
  }

  .formulario {
    padding: 2rem;
    width: auto;
    margin: 0 1rem;
  }

  .formularioContent {
    font-size: .9rem;
    width: 95%;
  }

  .titleContent {
    margin-bottom: 1rem;
  }

  .text {
    margin: 1rem 0;
  }

}
