<app-spinner></app-spinner>
<div class="recuperarPassword">
  <div class="containerImg">
    <img
      alt="Responsive image"
      class="img-fluid w-100"
      src="assets/images/Frame 1620.png"
    />
  </div>

  <!-- Formulario -->
  <form class="formulario" [formGroup]="formularioRecuperar">
    <section class="formularioContent">
      <div class="titleContent">
        <h2 class="fw-bold">
          ¡Bienvenido a <br />
          Autogestion!
        </h2>
      </div>

      <div>
        <p class="subtitle">Recuperación de la cuenta.</p>
        <p class="text">
          Escribe el correo electrónico asociado a la cuenta que desas
          recueperar
        </p>
      </div>

      <div>
        <div class="fw-medium mb-2">
          <label
            for="email"
            [ngClass]="{
              'is-invalid':
                (email?.invalid && email?.dirty) ||
                (email?.invalid && email?.touched) ||
                (email?.invalid && submit)
            }"
            class="form-label"
            ><i class="bi bi-envelope me-2"></i>Correo electrónico
            <span class="tooltip-text"
              >Ingresa tu dirección de correo electrónico</span
            >
          </label>
        </div>
        <input
          class="inputEmail form-control input"
          required
          type="email"
          placeholder="Correo electrónico"
          id="email"
          name="email"
          formControlName="email"
          (keyup.enter)="ingresar()"
        />
        @if ((email?.invalid && email?.dirty) || (email?.invalid &&
        email?.touched) || (email?.invalid && submit)) {
        <label class="label-error content-login font-weight-bold">
          Ingrese un correo electrónico válido.
        </label>
        }
      </div>

      <div class="contentBtn">
        <button
          type="button"
          mat-raised-button
          [disabled]="!formularioRecuperar.valid"
          class="btn btn-secondary botonIngresar w-100"
          (click)="ingresar()"
        >
          Recuperar
        </button>
      </div>

      <div class="volver">
        <i class="bi bi-arrow-left-circle-fill me-2 fs-1"></i>
        <p>volver</p>
      </div>

      <span class="version">Version 1.31.1</span>
    </section>
  </form>
</div>
<app-footer></app-footer>
