<section class="header">
  <!-- Logo y campana de notificaciones -->
  <div class="logo_campana">
    <!-- LOGO -->
    <img class="logo" alt="" src="assets/images/Group 24120.svg" />

    <!-- ICONO CAMPANA -->
    <div class="container_campana" id="headerFrame427319675Container">
      <img class="icono_campana" alt="" src="assets/images/Vector-header.svg" />

      <p class="N_notificaciones">1</p>
    </div>
  </div>
  <!-- Nombre usuario -->
  <div class="container_usuario">
    <div class="container_nombre_usuario">
      <img
        class="user-circle-icon me-4"
        alt=""
        src="assets/images/user-circle.svg"
      />
      <p class="nombre_usuario">Javier Murcia</p>
    </div>
    <img class="down" alt="" src="assets/images/angle-down.svg" />
  </div>
  <!-- Cerrar sesion -->
  <div class="cerrar_sesion">
    <img
      class="sing-out-alt-icon"
      alt=""
      src="assets/images/sing-out-alt.svg"
      id="singOutAltIcon"
    />
  </div>
</section>
