.contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Arimo;
  height: auto;
  gap: 16px;
  padding-bottom: 20px;
}
.contenedor-inner {
  position: relative;
 /* top: 24px;
  left: 80px;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12px;
  color: #9b4cba;
  padding-top: 20px;
  padding-bottom: 20px;
}
.miga-de-pan-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.miga-de-pan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.paleta-de-color {
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.25px;
  line-height: 21px;
  cursor: pointer;
}
.angle-right-icon {
  width: 8px;
  position: relative;
  height: 8px;
  cursor: pointer;
}
.paleta-de-color1 {
  position: relative;
  text-decoration: underline;
  letter-spacing: 0.25px;
  line-height: 21px;
  cursor: pointer;
}
.paleta-de-color2 {
  position: relative;
  letter-spacing: 0.25px;
  line-height: 21px;
  color: #000;
}
.frame-parent {
  position: relative;
  /*top: 69px;*/
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.47);
  background-color: #fff;
  width: 105%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0px 8px 16px;
  box-sizing: border-box;
  font-size: 12px;
  color: #2c421f;
}
.radicacin-de-siniestros-parent {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: fcp-stepperradicarweblex-start;
  font-size: 24px;
  font-family: 'Noto Sans';
}
.radicacin-de-siniestros {
  width: 100%;
  position: relative;
  line-height: 36px;
  font-weight: 600;
  display: inline-block;
}
.completa-los-siguientes {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 18px;
  font-family: Arimo;
  color: #000;
}
.component-43-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.component-43-icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.para-solicitar-tu {
  width: 231px;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 18px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.group-parent {
  width: 52px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.72);
  border-radius: 50px;
  background-color: #592272;
  border: 2px solid #fff;
  box-sizing: border-box;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.group-icon {
  width: 17px;
  position: relative;
  height: 17.3px;
}
.div {
  width: 32px;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 18px;
  display: inline-block;
}
.frame-group {
  position: relative;
  width: 100%;
  max-width: 30%;
  border-radius: 50px 0px 0px 50px;
  background-color: #fbe7f3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  box-sizing: border-box;
  color: #636466;
}
.cont-seguimiento {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #eaece9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  }
.estado-parent-info-recibida {
    width: 30%;
    border-radius: 10px;
    background-color: #636466;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}
.estado-parent-autorizada-radicada {
  width: 310px;
  border-radius: 10px;
  background-color: #61b22f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
}
.estado {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 27px;
    font-weight: 500;
 }
.solicitud-recibida {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 21px;
    font-family: Arimo;
  }
.vehculo-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #636466;
}
.estado {
      position: relative;
      letter-spacing: 0.1px;
      line-height: 27px;
      font-weight: 500;
}
.am {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 30px;
  font-weight: 500;
  color: #2c421f;
}  
.cont-seguimiento-child {
  width: 0.5px;
  position: relative;
  border-right: 0.5px #065633;
  box-sizing: border-box;
  height: 69.5px;
}
.fecha-de-solicitud {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 27px;
  font-weight: 500;
  white-space: pre-wrap;
}
.cp-boton-principal-variaciones {
  border-radius: 20px;
  background-color: #592272;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  box-sizing: border-box;
  min-width: 124px;
  text-align: center;
  font-family: Arimo;
}
.continuar {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 22px;
  border: none;
  background-color: transparent;
  outline: none;
}
.angle-right-icon-seguimiento {
  width: 24px;
  position: relative;
  height: 24px;
  cursor: pointer;
}
.times-icon {
  width: 16px;
  position: relative;
  height: 16px;
}
.cont-seguimiento-variaciones {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: 'Noto Sans'; 
  padding-left: 60px;
  }
  
/*detalles siniestro*/
.times-icon {
  width: 16px;
  position: relative;
  height: 16px;
  }
  .head {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 24px;
  cursor: pointer;
  }
  .check-icon {
  width: 40px;
  position: relative;
  height: 40px;
  }
  .check-wrapper {
  border-radius: 50px;
  background-color: #3d761b;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
 
  }
  .detalle-del-siniestro {
  position: relative;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  }
  .la-informacin-se {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 30px;
  font-weight: 500;
  }
  .vehculo-slf337 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 27px;
  font-weight: 500;
  }
  .tu-solicitud-est {
  margin: 0;
  }
  .tu-solicitud-est-container {
  width: 100%;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 22px;
  font-family: Arimo;
  color: #000;
  display: inline-block;
  }
  .frame-child-detalle {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  }
  .cuerpo-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 0px;
  box-sizing: border-box;
  }
  .continuar-detalle {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 22px;
 
  width: 100%;
  height: 100%;
  }
  .cp-boton-principal-variaciones-detalle {
  border-radius: 20px;
  background-color: #2c421f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  box-sizing: border-box;
  min-width: 124px;
  cursor: pointer;
  color: #fff;
  font-family: Arimo;
  }
  .cuerpo {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 24px 24px 16px;
  gap: 20px;
  }
  .cp-modalfixed {
  width: 100%;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 16px;
  color: #2c421f;
  font-family: 'Noto Sans';
  }
  .modalregistro11 {
    width: 482px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    font-size: 20px;
    color: #2c421f;
    font-family: 'Noto Sans';
  }
  .frame-parent11 {
    align-self: stretch;
    border-radius: 8px 8px 0px 0px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 16px 31px;
    gap: 10px;
  }
  .frame-parent12 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
  .header-container {
    align-self: stretch;
    position: relative;
    height: 24px;
  }
  .header1 {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.15px;
    line-height: 30px;
    font-weight: 500;
  }
  .supporting-text1 {
    align-self: stretch;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: #636466;
  }
  .vehculo1 {
    letter-spacing: 0.1px;
    line-height: 27px;
  }
  .span1 {
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 25px;
  }
  .slf3371 {
    letter-spacing: 0.1px;
    line-height: 27px;
    color: #000;
  }
  .path-19705-icon1 {
    width: 16px;
    position: relative;
    height: 16px;
    cursor: pointer;
  }
  .frame-parent13 {
    width: 482px;
    position: relative;
    height: 341px;
    flex-shrink: 0;
    align-items: center;
    overflow-x: auto;
  }
  .frame-child3 {
    position: relative;
    top: 20px;
    left: 48px;
    border-radius: 50%;
    background-color: #592272;
    width: 35px;
    height: 35px;
  }
  .frame-child1 {
    position: relative;
    top: 15px;
    left: 48px;
    border-radius: 50%;
    background-color: #d90b0b;
    width: 35px;
    height: 35px;
  }
  .frame-child4 {
    position: relative;
    top: 15px;
    left: 48px;
    border-radius: 50%;
    border: 1px solid #592272;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
  }
  .ene-2024-24-ene-2025-wrapper {
    position: relative;
    top: 4px;
    /*left: 60px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    position: relative;
   
    
  }
  .ene-2023-27-ene-2024-wrapper {
    position: relative;
    top: 4px;
    /*left: 60px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    position: relative;
    
    
  }
  .ene-2022-24-ene-2023-wrapper {
    position: relative;
    top: 7px;
    /*left: 60px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
   
  }
  .label-historico-first{
    font-size: 20px;
    letter-spacing: 0.15px;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Noto Sans';
    color: #2c421f;
    text-align: left;
  }
  .label-historico-first-subtitle{
    position: relative;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 21px;
    font-family: Arimo;
    color: #636466;
    text-align: left;
  }
  .label-historico-second{
    position: relative;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-family: Arimo;
    color: #636466;
    text-align: left;
  }
  .label-historico-second-subtitle{
  
    position: relative;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 18px;
    font-family: Arimo;
    color: #636466;
    text-align: left;
  }
  .container{
  
    align-items: flex-start;
    align-content: center;
    text-align: center;
  }
  .line-svg-first {
    left: 23.5px; 
    top: 19px; 
    position: relative;  
    
  }
  .line-svg-second {
    left: 23.5px; 
    top: 14px; 
    position: relative;  
   
  }
  .vehculo {
    position: relative;
    letter-spacing: 0.15px;
    line-height: 30px;
    font-weight: 500;
    }
    .vehculo-parent-reparacion {
      width: auto;
      position: relative;
      border-radius: 10px;
      background-color: #eaece9;
      border: 0.5px #3d761b;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px ;
      gap: 24px;
     /* max-width: 250px;*/
      text-align: center;
      font-size: 20px;
      color: #2c421f;
      font-family: 'Noto Sans';
    }
    .vehculo {
      position: relative;
      letter-spacing: 0.15px;
      line-height: 30px;
      font-weight: 500;
      }
.items-parent-repa {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        font-size: 12px;
        color: #fff;
        font-family: Arimo;
}
.items-repa {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 1px;
  gap: 80px;
}
.webitem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper-repa {
  width: 57px;
  border-radius: 5px;
  background-color: #592272;
  border: 0.9px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.5px 5.3px;
  }
  .vector-icon-repa {
    width: 20.7px;
    position: relative;
    height: 24px;
  }
.webitem-child-repa {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 5px;
    flex-shrink: 0;
}
.cp-return-parent-repa {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
 
}
.cp-return-repa {
  border-radius: 50px;
  background-color: #592272;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.arrow-left-icon {
  width: 16px;
  position: relative;
  height: 16px;
}
.btn-enlace {
  width: 47px;
  position: relative;
  height: 17px;
}
.label-btn {
  position: absolute;
  top: 0%;
  left: 0%;
  letter-spacing: 0.5px;
  line-height: 22px;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  color: #592272;
  font-family: Arimo;
}
a:hover {
  text-decoration: underline;
  color: #9b4cba;
}
.n-de-radicado {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 22px;
  }
  .div-repa {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 18px;
  color: #636466;
  }
  .n-de-radicado-parent {
  position: relative;
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: 16px;
  color: #592272;
  font-family: Arimo;
}
.fecha-de-solicitud {
    position: relative;
    letter-spacing: 0.5px;
    line-height: 22px;
}
  
.fecha-de-solicitud-parent {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    color: #592272;
    font-family: Arimo;
}
.ingreso-20062024 {
  width: 100%;
  max-width: 130px;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 21px;
  font-family: Arimo;
  color: #2c421f;
  text-align: left;
  display: flex;
  align-items: flex-start;
  padding-right: 50px;
  text-wrap: nowrap;
}
.vector-container-repa {
  width: 57px;
  border-radius: 5px;
  background-color: #fff;
  border: 0.9px solid #bcbec1;
  box-sizing: border-box;
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.5px 5.3px;
}
.frame-wrapper-repa {
  width: 80%;
  border-radius: 10px;
  background-color: #c8c8c8;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.wrapper-repa {
  align-self: stretch;
  border-radius: 10px;
  background-color: #592272;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 0px;
  box-sizing: border-box;
}
.div-repa-progress {
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 18px;
}
.stepper-components {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #f4edf7;
  border: 1px solid #592272;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8.6px;
  gap: 24px;
  text-align: left;
  font-size: 14px;
  color: #592272;
  font-family: Arimo;
}
.frame-parent-stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.vector-parent-stepper {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.vector-icon-stepper {
  width: 27.6px;
  position: relative;
  height: 32px;
}
.buy-now-pay-stepper {
  position: relative;
  letter-spacing: 0.25px;
  line-height: 21px;
}
.frame-child-stepper {
  width: 24px;
  position: relative;
  height: 24px;
  display: none;
}
.nodes-icon-stepper {
  width: 24px;
  position: relative;
  height: 24px;
}
.tu-vehculo-empez-stepper {
  width: 233px;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 21px;
  color: #2c421f;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.cont-stepper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12px;
  color: #636466;
}  
.tallerseleccionado-stepper {
  width: 100%;
  max-width: 526px;
  border-radius: 10px;
  background-color: #fff;
  border: 0.5px solid #636466;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
.requerimos-ms-documentacin-p-parent-stepper {
  align-self: stretch;
  width: 584px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.requerimos-ms-documentacin-stepper {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 21px;
  color: #2c421f;
}
 .requerimos-ms-documentacin1-stepper {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 18px;
 }
.vehiculo-autogestion-7-parent {
    width: 80%;
    align-self: stretch;
    position: relative;
    height: 50px;
}
.vehiculo-autogestion-7 {
  width: 100%;
  position: absolute;
  top: 8px;
  max-width: 72px;
  height: 34px;
  object-fit: cover;
}
.vehiculo-autogestion-3 {
  position: absolute;
  top: 15px;
  left: 50px;
  width: 43px;
  height: 20px;
}  
.cont-nopass {
  position: absolute;
  top: 8.62px;
  left: 376.5px;
  width: 526px;
  height: 78.9px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contcam-nopass {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.foto-nopass {
  width: 117.7px;
  border-radius: 5px;
  border: 1px #592272;
  box-sizing: border-box;
  height: 73.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-37-icon-nopass {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-parent-nopass {
  position: absolute;
  top: 10px;
  left: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}  
.vector-parent-nopass {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.vector-icon-nopass {
  width: 30.7px;
  position: relative;
  height: 32px;
}
.buy-now-pay-nopass {
  position: relative;
  letter-spacing: 0.25px;
  line-height: 21px;
}
.nodes-icon-nopass {
  width: 25.9px;
  position: relative;
  height: 25.9px;
}
.estamos-gestionando-la-nopass {
  width: 100%;
  max-width: 233px;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 21px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-wrap: wrap;
}
.stepper-components-nopass {
  width: 100%;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
  height: 110.9px;
  text-align: left;
  font-size: 14px;
  color: #c8c8c8;
  font-family: Arimo;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 118.6px;
  margin-top: 20px;
  gap: 24px;
}
.scroll-fases {
  width: 100%;
  max-width: 960px;
  height: 100%;
  max-height: 496px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .scroll-parent-fases {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    text-align: center;
    font-size: 14px;
    color: #c8c8c8;
    font-family: Arimo;
  }
  .stepper-components-pass {
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #f4edf7;
    border: 1px solid #592272;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 118.6px;
    margin-top: 20px;
    gap: 24px;
    text-align: left;
    font-size: 14px;
    color: #636466;
    font-family: Arimo;
  }
.ellipse-div-pass {
    width: 100%;
    position: relative;
    border-radius: 50%;
    background-color: #3d761b;
    height: 24px;
}
.image-37-icon-foto {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  }
  .foto-foto {
  align-self: stretch;
  width: 117.7px;
  border-radius: 5px;
  border: 1px solid #592272;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  }
  .contcam-foto {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  }
  .cont-foto {
    width: 100%;
    align-self: stretch;
    max-width: 526px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  /*Calendar*/

  .calendar-icon-calendar {
  	width: 32px;
  	position: relative;
  	height: 32px;
}
.entregado-el-da-calendar {
  	position: relative;
  	letter-spacing: 0.25px;
  	line-height: 25px;
  	font-weight: 500;
}
.entregado-el-da-wrapper-calendar {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.div-calendar {
  	position: relative;
  	letter-spacing: 0.4px;
  	line-height: 18px;
}
.wrapper-calendar {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	font-size: 12px;
  	color: #000;
  	font-family: Arimo;
}
.frame-parent-calendar {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.calendar-parent-calendar {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
    padding-top: 20px;
  	align-items: center;
  	justify-content: center;
  	gap: 10px;
}
.cont-calendar {
  	height: 100%;
  	width: 100%;
    max-width: 200px;
  	position: relative;
    align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	text-align: left;
  	font-size: 14px;
  	color: #2c421f;
  	font-family: 'Noto Sans';
}

/*Modal */


.header-modal {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 0.15px;
  line-height: 30px;
  font-weight: 500;
}
  .header-wrapper-modal {
  flex: 1;
  position: relative;
  height: 24px;
}
  .times-icon-modal {
    width: 16px;
    position: relative;
    height: 16px;
    cursor: pointer;
}
  .head-modal {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 24px;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
    color: #2c421f;
    font-family: 'Noto Sans';
  }
  .foto-modal {
    width: 100%;
    max-width: 613px;
    border-radius: 5px;
    border: 1px solid #592272;
    box-sizing: border-box;
    height: 100%;
    max-height: 443px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .foto-wrapper-modal {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    }
    .cp-modalfixed-modal {
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 20px;
    color: #2c421f;
    font-family: 'Noto Sans';
    }