<app-spinner></app-spinner>
<div class="container-fluid px-0">
  <div class="container-color">
    <div class="p-5 text-center">
      <img [src]="logoHeader" alt="logoHeader">
    </div>
    <div class="abs-center pr-5 pl-5">
      <div class="card col-md-6 col-sm-8">
        <div class="card-body">
          <h5 class="card-title">Elige una nueva contraseña</h5>
          <small id="emailHelp" class="form-text text-muted">Crea una contraseña nueva de ocho caracteres como mínimo
            entre mayúsculas, minúsculas y números.</small>
          <form [formGroup]="formularioRecuperar">
            <div class="form-group">
              <label class="labelContrasena form-text text-muted ">
                Nueva Contraseña
              </label>
              <div class="input-group">

                <input type="{{ocultarMostrarPassword}}" class="form-control" formControlName="contrasena" required>
                <div class="input-group-append">
                  <button type="button" class="btn btn-show-pwd-disabled input-group-text"
                   (click)="cambiarTipo('contrasena')">
                  </button>
                </div>
                <div class="tooltip-test">
                  &nbsp;<img [src]="iconoPregunta" alt="iconoAyuda">
                  <span class="tooltip-text" *ngIf="tooltips!.length > 0">{{tooltips![0]!.valor}}</span>
                </div>
              </div>
              <label class="labelContrasena form-text text-muted ">
                Confirmar Contraseña
              </label>
              <div class="input-group">
                <input type="{{ocultarMostrarConfPassword}}" class="form-control" formControlName="confirmarContrasena"
                  required
                  >

                <div class="input-group-append">
                  <button type="button" class="btn btn-show-pwd-disabled input-group-text"
                    
                    (click)="cambiarTipo('confirmarContrasena')">
                  </button>
                </div>
                <div class="tooltip-test">
                  &nbsp;<img [src]="iconoPregunta" alt="iconoAyuda">
                  <span class="tooltip-text" *ngIf="tooltips!.length > 0">{{tooltips![0]!.valor}}</span>
                </div>
              </div>

            </div>

            <div class="container-error-message text-danger text-center"
              *ngIf="contrasena?.invalid && (contrasena?.touched || contrasena?.dirty)">
              <label class="label-error content-login font-weight-bold">
                Ingrese una contraseña valida
              </label>
            </div>
            <div class="container-error-message text-danger text-center"
              *ngIf="(contrasena!.value.length > 0 &&   contrasena?.value!=confirmarContrasena!.value)">
              <label class="label-error content-login font-weight-bold">
                La contraseña no coincide
              </label>
            </div>
            <div class="divBotonIngresar mt-2">
              <button type="button" class="btn btn-primary botonIngresar" (click)="submitPassword()"
               >
                Recuperar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <div class="pb-5 pl-5 pr-5">
    </div>
  </div>
</div>
