.container-fluid {
   
    background-attachment: fixed;
  }

  .container-color {
    background-color: rgb(156, 190, 184, 0.5);
  }

  .card {
    /* width: 45%; */
    margin: auto;
    border-radius: 12px;
    -webkit-box-shadow: 14px 12px 22px -15px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 14px 12px 22px -15px rgba(0, 0, 0, 0.86);
    box-shadow: 14px 12px 22px -15px rgba(0, 0, 0, 0.86);
  }

  .card-title {
    font-family: "Futura Std Heavy", Trebuchet MS, Arial, sans-serif;
    color: #67bc47;
    text-align: center;
    font-size: 32px;
    margin: 4%;
  }

  .labelLogin {
    font-family: "Futura Light", Trebuchet MS, Arial, sans-serif;
    color: #626366;
    font-size: 14px;
    margin-top: 6%;
  }

  .labelRegistro {
    font-family: "Futura Light", Trebuchet MS, Arial, sans-serif;
    color: #626366;
    font-size: 15px;
  }
  .labelContrasena{
    font-family:"Neris Light", Arial, Helvetica, sans-serif;
  }

  .form-group {
    margin-left: 18%;
    margin-right: 18%;
  }

  .abs-center {
    padding-bottom: 10px !important;
  }

  .form {
    width: 450px;
  }

  .divBotonIngresar {
    text-align: center;
  }

  .botonIngresar {
    background-color: #67bc47;
    border-color: #67bc47;
    width: 45%;
  }

  .labelOlvidarContraseña {
    color: #67bc47;
  }

  .registrate {
    font-size: 15px;
    color: #67bc47;
  }

  #emailHelp {
    font-family: "Neris Light", Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
    text-align: center;
    font-size: 15px;
  }

  .iconoGris {
   
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-radius: 0 5px 5px 0 !important;
    border: 0;
    margin: 0 -35px;
  }

  .iconoVerde {
   
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-radius: 0 5px 5px 0 !important;
    border: 0;
    margin: 0 -35px;
  }

  .iconoGris:focus,
  .iconoVerde:focus {
    outline: 0;
    box-shadow: none;
  }


  .input-group-append .btn {
    z-index: 100;
  }

  .ocultarIconoContrasena {
    display: none;
  }

  .input-group-append .btn,
  .input-group-prepend .btn {
    z-index: 99;
  }

  .btn-show-pwd-enable {
    width: 27px;
    height: 38px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-color: transparent;
  }

  .btn-show-pwd-disabled {
    width: 27px;
    height: 38px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-color: transparent;
    border-radius: 0 5px 5px 0 !important;
    border: 0;
    margin: 0 -33px;
  }

  .btn-show-pwd-enable:focus,
  .btn-show-pwd-disabled:focus {
    outline: 0;
    box-shadow: none;
  }

  .form-control.ng-user-invalid {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 6px 0 rgba(217, 11, 11, 0.71);
    border: solid 1px #d90b0b;
    background-image: none;
  }
  .tooltip-test {
    position: relative;
    display: inline-block;
    z-index: 1000;

  }

  .tooltip-test .tooltip-text {
    /* Text configuration */
    font-family: "Neris Light", Trebuchet MS, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;

    /* Box configuration */
    width: 230px;
    padding: 10px;
    visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: #67bc47 solid;
    border-width: thin;
    background-color: white;
    color: black;

    /* Position */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    right: 50%;
  }

  .tooltip-test:hover .tooltip-text{
    visibility: visible;
  }

  .missPassLink{
    color: #67bc47 !important;
    line-height: 1.38;
  }

  @media(max-width: 768px) {
    .abs-center {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
    .card {
      padding-left: 0;
      padding-right: 0;
    }
    .form-group {
      margin-left: 5%;
      margin-right: 5%;
    }
    .botonIngresar {
      width: 70%;
    }
    .container-fluid {
      background-position: center;
    }
    .card-title{
      font-size: 1.875rem;
      margin: 6%;
    }
    #emailHelp {
      margin-bottom: 3%;
      font-size: 14px;
    }
    .labelContrasena{
      margin-top: 1rem;
    }
  }