  	<div class="cp-acordeonweb">
    		<div class="property-1vehiculo1c">
      			<div class="cp-acordeon-vehiculo">
        				<div class="cp-acordeon">
          					<div class="documentacin-parent">
            						<div class="documentacin">
              							<span class="vehculo">Vehículo </span>
              							<span class="slf337">SLF337</span>
            						</div>
            						<img class="angle-down-icon" alt="" src="angle-down.svg">
            						
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1defaultc">
      			<div class="cp-acordeon-vehiculo">
        				<div class="cp-acordeon">
          					<div class="documentacin-parent">
            						<div class="selecciona-el-vehculo">Selecciona el Vehículo</div>
            						<img class="angle-down-icon" alt="" src="angle-down.svg">
            						
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1vehiculo2c">
      			<div class="cp-acordeon-vehiculo">
        				<div class="cp-acordeon">
          					<div class="documentacin-parent">
            						<div class="documentacin">
              							<span class="vehculo">Vehículo </span>
              							<span class="slf337">IYO949</span>
            						</div>
            						<img class="angle-down-icon" alt="" src="angle-down.svg">
            						
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1vehiculo3c">
      			<div class="cp-acordeon-vehiculo">
        				<div class="cp-acordeon">
          					<div class="documentacin-parent">
            						<div class="documentacin">
              							<span class="vehculo">Vehículo </span>
              							<span class="slf337">FOV743</span>
            						</div>
            						<img class="angle-down-icon" alt="" src="angle-down.svg">
            						
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1vehiculo2d">
      			<div class="documentacin-parent">
        				<div class="documentacin">
          					<span class="vehculo">Vehículo </span>
          					<span class="slf337">IYO949</span>
        				</div>
        				<img class="angle-down-icon" alt="" src="angle-up.svg">
        				
      			</div>
      			<div class="contenedor">
        				<div class="listado-de-vehculos">Listado de Vehículos</div>
        				<div class="scroll-parent">
          					<div class="scroll">
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">
                    										<span>INTERNACIONAL</span>
                    										<span class="span"> </span>
                  									</span>
                  									<span class="slf3371">SLF337</span>
                  									<span class="span1"> </span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">NISSAN</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">IYO949</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">FORD</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">FOV743</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">RENAULT</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">AUN589</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">RENAULT</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">RGN423</span>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="cp-scroll1">
            						<div class="scroll1">
              							<div class="scroll2">
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1vehiculo3d">
      			<div class="documentacin-parent">
        				<div class="documentacin">
          					<span class="vehculo">Vehículo </span>
          					<span class="slf337">FOV743</span>
        				</div>
        				<img class="angle-down-icon" alt="" src="angle-up.svg">
        				
      			</div>
      			<div class="contenedor">
        				<div class="listado-de-vehculos">Listado de Vehículos</div>
        				<div class="scroll-parent">
          					<div class="scroll">
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">
                    										<span>INTERNACIONAL</span>
                    										<span class="span"> </span>
                  									</span>
                  									<span class="slf3371">SLF337</span>
                  									<span class="span1"> </span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">NISSAN</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">IYO949</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">FORD</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">FOV743</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">RENAULT</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">AUN589</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">RENAULT</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">RGN423</span>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="cp-scroll1">
            						<div class="scroll1">
              							<div class="scroll2">
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1vehiculo1d">
      			<div class="documentacin-parent">
        				<div class="documentacin">
          					<span class="vehculo">Vehículo </span>
          					<span class="slf337">SLF337</span>
        				</div>
        				<img class="angle-down-icon" alt="" src="angle-up.svg">
        				
      			</div>
      			<div class="contenedor2">
        				<div class="listado-de-vehculos">Listado de Vehículos</div>
        				<div class="scroll-parent">
          					<div class="scroll">
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">
                    										<span>INTERNACIONAL</span>
                    										<span class="span"> </span>
                  									</span>
                  									<span class="slf3371">SLF337</span>
                  									<span class="span1"> </span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">NISSAN</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">IYO949</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">FORD</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">FOV743</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">RENAULT</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">AUN589</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">RENAULT</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">RGN423</span>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="cp-scroll1">
            						<div class="scroll1">
              							<div class="scroll2">
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1defaultd">
      			<div class="documentacin-parent">
        				<div class="selecciona-el-vehculo">Selecciona el Vehículo</div>
        				<img class="angle-down-icon" alt="" src="angle-up.svg">
        				
      			</div>
      			<div class="contenedor">
        				<div class="listado-de-vehculos">Listado de Vehículos</div>
        				<div class="scroll-parent">
          					<div class="scroll">
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">
                    										<span>INTERNACIONAL</span>
                    										<span class="span"> </span>
                  									</span>
                  									<span class="slf3371">SLF337</span>
                  									<span class="span1"> </span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">NISSAN</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">IYO949</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">FORD</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">FOV743</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">RENAULT</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">AUN589</span>
                								</div>
              							</div>
            						</div>
            						<div class="cp-radio-estados-parent">
              							<img class="cp-radio-estados-icon" alt="" src="CP_radio_estados.svg">
              							
              							<div class="internacional-slf337-wrapper">
                								<div class="internacional-slf337">
                  									<span class="internacional">RENAULT</span>
                  									<span class="span2"> </span>
                  									<span class="slf3371">RGN423</span>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="cp-scroll1">
            						<div class="scroll1">
              							<div class="scroll2">
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>

  	

