<footer>
  <section class="section-footer">
    <img class="img-fluid" alt="" src="assets/images/image 3.svg" />

    <div class="contenedorEnlaces">
      <h5>Enlaces de interes</h5>
      <div class="my-4">
        <p>Oficinas</p>
        <p>Radicación PQRS</p>
        <p>Chat en línea</p>
      </div>

      <strong>Descarga nuestra app móvil</strong>
      <div class="d-flex justify-content-evenly mt-3">
        <div class="d-flex">
          <img class="me-2" alt="" src="assets/images/Apple.svg" />
          <div class="">App Store</div>
        </div>

        <div class="d-flex">
          <img class="me-2" alt="" src="assets/images/Google Play.svg" />
          <div class="">Google Play</div>
        </div>
      </div>
    </div>

    <div class="content-info">
      <img class="mb-2" alt="" src="assets/images/image 4.svg" />
      <div class="info">
        <h5 class="">Previsora S.A, Compañia de Seguros</h5>
        <p class="">Dirección casa matriz: calle 57 # 9-07</p>
        <p class="">Horario de atención casa matriz:</p>
        <p class="">Lunes a viernes de 8:00 a.m. a 5:00 p.m.</p>
      </div>
      <div class="iconsLinks">
        <img
          width=""
          alt="iconLink"
          src="assets/images/Vector (5).svg"
          id="vectorIcon"
        />
        <img
          width=""
          alt="iconLink"
          src="assets/images/Path 19702.svg"
          id="path19702Icon"
        />
        <img width="" alt="iconLink" src="assets/images/Vector (10).svg" />
        <img width="" alt="iconLink" src="assets/images/Path 19689.svg" />
        <img width="" alt="iconLink" src="assets/images/Vector (11).svg" />
      </div>
    </div>
  </section>

  <!-- Footer movil -->

  <section class="section-footer-movil">
    <div class="contenedorEnlaces-movil">
      <h5>Enlaces de interes</h5>
      <div class="my-4">
        <p>Oficinas</p>
        <p>Radicación PQRS</p>
        <p>Chat en línea</p>
      </div>

      <strong>Descarga nuestra app móvil</strong>
      <div class="d-flex justify-content-center mt-3">
        <div class="me-5 d-flex align-items-center">
          <img class="me-3" alt="" src="assets/images/Apple.svg" />
          <div class="">App Store</div>
        </div>
        <div class="ms-5 d-flex align-items-center">
          <img class="me-3" alt="" src="assets/images/Google Play.svg" />
          <div class="">Google Play</div>
        </div>
      </div>
    </div>

    <img class="my-5" alt="" src="assets/images/image 4.svg" width="200" />

    <div class="content-info-movil">
      <div class="info-movil">
        <h5 class="">Previsora S.A, Compañia de Seguros</h5>
        <p class="">Dirección casa matriz: calle 57 # 9-07</p>
        <p class="">Horario de atención casa matriz:</p>
        <p class="">Lunes a viernes de 8:00 a.m. a 5:00 p.m.</p>
      </div>
      <div class="iconsLinks-movil">
        <img
          width=""
          alt="iconLink"
          src="assets/images/Vector (5).svg"
          id="vectorIcon"
        />
        <img
          width=""
          alt="iconLink"
          src="assets/images/Path 19702.svg"
          id="path19702Icon"
        />
        <img width="" alt="iconLink" src="assets/images/Vector (10).svg" />
        <img width="" alt="iconLink" src="assets/images/Path 19689.svg" />
        <img width="" alt="iconLink" src="assets/images/Vector (11).svg" />
      </div>
      <img
        class="img-fluid mb-4"
        alt=""
        src="assets/images/image 3.svg"
        width="100%"
      />
    </div>
  </section>
</footer>
